@tailwind base;
@tailwind components;
@tailwind utilities;

pre code {
  display: block;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
  min-width: 100px;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
  font-family: 'Server Mono', monospace;
}

h1,
h2,
h3 {
  font-family: 'Server Mono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono',
    monospace;
}

body {
  background-color: whitesmoke;
}
