@font-face {
  font-family: 'Server Mono';
  src: url('/fonts/ServerMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Server Mono', monospace;
  background-color: whitesmoke;
  background-image: repeating-radial-gradient(
    circle at 0 0,
    #c8c8d020 0,
    #c8c8d020 1px,
    transparent 2px,
    transparent 48px
  );
}

pre code {
  display: block;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  max-width: 100%;
  min-width: 100px;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}
